$primary:       #43050A;
$secondary:     rgb(230, 201, 174);

.circle-img {
    height: 120px;
    width: 100%;    
    
}

.google-map {
    height: 400px;
}

.card-border {
    border-bottom: 1px solid gray;
}

.cardb {
    width: 150px;
    height: 450px;
    background-color: gray;
}

.carousel-item {
    margin-right: 0 !important;
}

.imgE {
    position: relative;
    height: 150px;
    min-width: 150px;
    max-width: 150px;
    background-color: grey;
    border-radius: 50%;

}

.wrap-none {
    flex-wrap: nowrap !important;
}

$spacer: 15px;

$spacers: (15: ($spacer),
);

.owl-carousel .owl-item {
    display: flex;
    justify-content: center;
}

.bgimage-op {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 90vh;

}

.bgimage {

    background: url('../images/bg-img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
}

.bgimage h5 {
    color: white;
    text-shadow: 2px 2px #333;
    
}

.btn-center {
    bottom: 0;

}

@media (max-width:992px) {
    .textC {
        text-align: center;
    }

    li {
        border-bottom: 1px solid gray;
    }

}

.navbar-light .navbar-nav .nav-link {
    font-size: 1.3rem !important;

    @media (max-width: 800px) {
        font-size: 1rem !important;
    }
}
/* COLORS
========================================== */

$bg-color: #051321;
$color-1: #eb524a;
$color-2: #c63535;
$color-3: #ffbe44;

$white: #ffffff;
$black: #000000;

// Social media

$callphone: #d14836;
$telephone: #3b5998;
$twitter: #1da1f2;


/* MIXINS
========================================== */

@mixin animation($animation) {
    -webkit-animation: #{$animation};
    -moz-animation: #{$animation};
    -o-animation: #{$animation};
    animation: #{$animation};
}

@mixin keyframes($keyframes) {
    @-webkit-keyframes #{$keyframes} {
        @content;
    }

    @-moz-keyframes #{$keyframes} {
        @content;
    }

    @-o-keyframes #{$keyframes} {
        @content;
    }

    @keyframes #{$keyframes} {
        @content;
    }
}

@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}

@mixin transition($transition) {
    -webkit-transition: #{$transition};
    -moz-transition: #{$transition};
    -o-transition: #{$transition};
    transition: #{$transition};
}

@mixin transition-delay($transition-delay) {
    -webkit-transition-delay: #{$transition-delay};
    -moz-transition-delay: #{$transition-delay};
    -o-transition-delay: #{$transition-delay};
    transition-delay: #{$transition-delay};
}

/* RESET
========================================== */

.dropdown-toggle::after {
border: none !important;
}

body {
    background: $bg-color;
    //font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

/* CONTACT
========================================== */

.contact-area {
    width: 100%;
    height: 80vh;
    position: relative;
}

.contact {
    position: relative;
    max-width: 500px;
    padding:30px 20px;
    overflow: hidden;
    margin: 0 auto;

    @media (min-width: 1024px) {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
    }

    main {
        float: left;
        width: 100%;
        position: relative;

        section {
            border-radius: 5px;
            float: left;
            width: 100%;
            background-image: url(../images/chicken-fried.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            .content {
                float: left;
                width: 100%;
                padding: 20px;
                position: relative;
                text-align: center;
                max-height: 450px;

                @media (min-width: 1024px) {
                padding: 50px;
                }

                aside {
                    width: 100%;
                    color: $white;
                    text-align: center;

                    h1 {
                        font-weight: 100;
                    }

                    p {
                        font-size: 14px;
                        letter-spacing: .5px;
                        line-height: 160%;
                        font-weight: 100;
                    }
                }
            }
        }

        .title {
            float: left;
            width: 100%;
            background-image: $color-2;
            max-height: 0px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            overflow: hidden;
            @include transition(all .55s);
            

            &.active {
                max-height: 60px;
                @include transition(all 1.3s);

                @media (max-width: 400px) {
                max-width: 200px;
                }
                p {
                    @include transform(scale(1));
                    transition-delay: .2s;
                    padding: 0 15px;
                }
            }

            p {
                padding: 0 30px 15px 30px;
                color: $white;
                font-size: 20px;
                display: inline-block;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: .5px;
                @include transition(all .3s);
                @include transform(scale(0));
            }
        }

        button {
            position: absolute;
            bottom: 0;
            right: 50%;
            background-color: $color-3;
            color: $color-2;
            border: 0;
            width: 200px;
            height: 48px;
            text-align: center;
            border-radius: 30px;
            font-size: 16px;
            letter-spacing: .5px;
            text-transform: uppercase;
            margin-bottom: -24px;
            margin-right: -100px;
            @include transition(all .4s);
            transition-delay: .1s;
            outline: none;
            overflow: hidden;
            z-index: 10;
            font-family: inherit;

            span {
                opacity: 1;
                @include transition(opacity .2s);
                transition-delay: .4s;
                display: block;
                width: 200px;
                float: left;
            }

            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                @include transform(translate(-50%, -50%));
                opacity: 0;
                @include transition(all .4s);

                path {
                    fill: $color-2;
                }
            }

            &.active {
                margin-right: 0;
                right: 20px;
                width: 65px;
                height: 65px;
                margin-bottom: -32.5px;
                text-indent: 100%;
                white-space: nowrap;
                overflow: hidden;
                border-radius: 65px;
                box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);

                span {
                    opacity: 0;
                    transition-delay: 0s;
                    width: 200px;
                }

                svg {
                    opacity: 1;
                    transition-delay: .5s;
                }
            }
        }
    }

    nav {
        float: left;
        width: 100%;
        overflow: hidden;
        max-height: 0px;
        @include transition(all .5s);

        &.active {
            max-height: 600px;
            @include transition(all 1s);

            a {
                opacity: 1;
                @include transform(translateY(0px));
                @include transition(all .7s);

                &:nth-of-type(1) {
                    transition-delay: .5s;
                }

                &:nth-of-type(2) {
                    transition-delay: .7s;
                }
            }
        }

        a {
            float: left;
            width: 100%;
            margin-top: 6px;
            background-color: $white;
            border-radius: 5px;
            text-decoration: none;
            @include transition(all .3s);
            opacity: 0;
            @include transform(translateY(-10px));
            position: relative;

            

            .call{
                height: 50px;
                border-radius: 10px;
            }
            .call-icon {
                width: 40px;
                height: 40px;
                position: absolute;
                right: 15px;
                top: 50%;
                @include transform(translateY(-50%));
                
            }

            .icon {
                float: left;
                width: 50px;
                height: 60px;
                overflow: hidden;
                padding-left: 5px;
            }

            .content {
                h1 {
                    margin: 0 !important;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 160%;
                    letter-spacing: .4px;
                }

                span {
                    font-size: 14px;
                    color: darken($white, 30%);
                    display: block;
                    letter-spacing: .4px;
                }
            }
        }
    }
}

.img-slide{
    width: 260px !important;
    height: 200px;
    background-size: contain !important;
}
