// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

i:hover{
  color: $danger;
}

button:focus{
  outline: 0;
}

$link-hover-decoration:                   none;
