// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn:focus{
   outline: 0;
   box-shadow: none !important;
   color: $primary;
}

button:focus{
    outline: 0px !important;
}