.all {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.img-box {
    width: 300px !important;
    height: auto;
    background-size: contain !important;
}

#btn-ac:focus, #btn-ac:active, #btn-ac:hover {
    color: $primary !important;
    border: 1px solid $primary !important;    
    border-radius: 10px;    
}

.lb-nav a.lb-prev, a.lb-next{
    opacity: 0.5 !important;
}
.lb-nav a.lb-prev:hover, a.lb-next:hover{
    opacity: 1 !important;
}