// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


//Color

$primary: #C7392A;
$secondary: #F0E4DC;
$danger: rgb(165, 7, 7);
$white: #ffffff;
$black: #000000;

// Social media

$facebook: #3B5999;
$twitter: #1da1f2;
$pinterest: #D80419;
$rss: #FF6600;
$bg-color: #051321;

//btn-animation

$color-1: #eb524a;
$color-2: #c63535;
$color-3: #ffbe44;


//spacers

$spacer: 15px;
$spacers: (15: ($spacer),
);