// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


//Color
$info: rgb(7, 54, 75);
$primary: #EA5F3D;
$secondary: #F4F5F7;
$danger: rgb(165, 7, 7);
$white: #ffffff;

$black: #000000;

// Social media

$facebook: #3B5999;
$twitter: #1da1f2;
$pinterest: #D80419;
$rss: #FF6600;
$bg-color: #051321;

//btn-animation
$color-2: #c63535;
$color-3: #ffbe44;
$color-4:#24292D;

//spacers

$spacer: 15px;
$spacers: (15: ($spacer),
);